<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f4f4f4;
            margin: 0;
        }
        .container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 500px;
    margin: 40px auto;
}
        .btn {
            display: block;
            width: 200px;
            padding: 15px;
            margin: 10px;
            border: none;
            border-radius: 5px;
            background: #007BFF;
            color: white;
            font-size: 16px;
            cursor: pointer;
        }
        .btn:hover {
            background: #0056b3;
        }
        .button-group {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-top: 20px;
        }
        a{
            text-decoration: none;
        }
        @media (max-width: 768px) {
    .container {
        width: 90% !important;
        padding: 20px !important;
    }

    .btn {
        width: 100% !important;
        font-size: 16px;
        padding: 12px;
    }

    .button-group {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    h1 {
        font-size: 24px;
    }
}
    </style>
</head>
<body>
    <div class="container">
        <h1>URL Shortener</h1>
        <div class="button-group">
            <% if (user) { %>
                <a href="/url/generateURL"><button class="btn">Generate URL</button></a>
            <% } else{%>
                <a href="/user/signin"><button class="btn">Sign In</button></a>
                <a href="/user/signup"> <button class="btn">Sign up</button></a>
                <% } %>
        </div>
    </div>
</body>
</html>
